:root{
  --tam-letra-pequena: 1.75vw;
  --tam-letra-mediana: 2.5vw;
  --tam-letra-grande: 3vw;
  --tam-icono-a: 4.5em;
}

.cuerpo{
    width: auto;
    border-width: 3px;
    display: flex;
    margin-bottom: 5px;
    padding: 3vw 0;
  }

  .recuadrosalumnos{
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    justify-content: center;
    display: grid;
    margin-right:auto;
    margin-left:auto;
    grid-template-columns: 25% 25%;
    grid-template-rows:20vw 20vw;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-auto-flow: column
}

.recuadrosmenus{
  padding-top:15px;
  padding-bottom:15px;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 19em 19em;
  grid-template-rows:23vw 23vw;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
}

.cantidades{
  display: flex;
  align-items: center;
    border-color:  black;
    border-style:  solid;
    border-width:  3px;
    margin-bottom:  5px;
    font-size:  2.5vw;
    padding: 3vw 0;
    border-radius:  35px;
    font-weight:  bold;
}

.boton-cantidad{
  width: 50%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.botones-mas-menos{
  flex: 4;
  /*width: 50%;
  height: 50%;*/
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*cursor: pointer;*/
}


.imagen-cantidad{
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.recuadrosclases{
    width:100%;
    padding-top:10px;
    padding-bottom:15px;
    justify-content: center;
    display: grid;
    margin-right:auto;
    margin-left:auto;
    grid-template-columns: 25% 25%;
    grid-template-rows:22vw 22vw;
    grid-column-gap: 40px;
    grid-row-gap: 15px
}

.botonesAlumnos{
    width: auto;
    height: auto;
    background-color:  hsl(174, 38%, 79%) ;
    border-color:  black;
    border-style:  solid;
    border-width:  3px;
    display:  grid;
    margin-bottom:  5px;
    font-size:  2.5vw;
    text-align: center;
    padding: 3vw 0;
    border-radius:  35px;
    font-weight:  bold;
    cursor:  pointer;
    padding-bottom: 1em;
  }

  .botonesComandas{
    width: auto;
    height: auto;
    background-color:  hsl(174, 38%, 79%) ;
    border-color:  black;
    border-style:  solid;
    border-width:  3px;
    display:  grid;
    font-size:  2.5vw;
    margin-bottom:  5px;
    text-align: center;
    padding: 3vw 0;
    border-radius:  35px;
    font-weight:  bold;
    cursor:  pointer;
    padding-bottom: 1em;
    padding-top: 1em;
  }


  .textoComanda{
    font-size:  var(--tam-letra-mediana);
    margin-top: 0;
    margin-bottom: 0;

  }

  .foto{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


.imgMenu{
  width: var(--tam-icono-a);
  height: var(--tam-icono-a);
  
  margin-left: auto;
  margin-right: auto;
  
}


.botonesClase{
    width: auto;
    background-color:  hsl(174, 38%, 79%);
    border-color:  black;
    border-style:  solid;
    border-width:  3px;
    display:  grid;
    margin-bottom:  5px;
    font-size:  2.5vw;
    text-align: center;
    padding: 3vw 0;
    padding-bottom:5em;
    border-radius:  35px;
    font-weight:  bold;
    cursor:  pointer;
  }

  .botones-clase-completada {
    background-color: #6a6a6a;
    width: auto;
    border-color:  black;
    border-style:  solid;
    border-width:  3px;
    display:  grid;
    margin-bottom:  5px;
    font-size:  2.5vw;
    text-align: center;
    padding: 3vw 0;
    padding-bottom:5em;
    border-radius:  35px;
    font-weight:  bold;
    cursor:  pointer;    
  }

  .imagenUser{
    position: absolute;
     cursor: pointer;
     width: 10%;
    height: auto;
    bottom: 2%;
    right: 2%
  }

  .botonesPT {
    width: auto;
    cursor: pointer;
    background-color: #8dd1ca;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: grid;
    margin-bottom: 5px;
    text-align: center;
    padding: 3vw 0;
    border-radius: 25px;
    font-weight: bold;
    font-size: var(--tam-letra-mediana);
  }

  .botonesPT p{
    margin: 0;
  }

.botonesPP{
    width:  auto;
    cursor: pointer  ;
    background-color:  #8dd1ca  ;
    border-color:  black  ;
    border-style:  solid  ;
    border-width:  3px  ;
    display:  grid  ;
    margin-bottom:  5px  ;
    font-size:  var(--tam-letra-mediana)  ;
    text-align: center  ;
    padding:  2vw 0  ;
    border-radius:  25px  ;
    font-weight:  bold
  }


.imgspantalla{
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    justify-content: center;
    display: grid;
    margin-right:auto;
    margin-left:auto;
    grid-template-columns: 39% 39%;
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 15px
  }


.imgpantalla{
    width: var(--tam-icono-a);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
  }


  .PaginaAgenda{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding-top: 10px;
  }
  .PaginaAgenda > h1{
    font-size: 4vw;
    letter-spacing: 0.05em;

  }

  .titulotarea{
    font-size: var(--tam-letra-mediana)
  }

  .fechatarea{
    font-size: var(--tam-letra-pequena);
  }

*  .tareaAgenda{
    width: 100%;
    align-self: center;
  }
  .tarjetaAgenda{
    float:left;
    margin-left: 25%;
    width: 30%;
  }

  .estilotarjerta{
    display: unset;
    width: auto;
  }

  .botonComenzar{
    margin-top: 2%;
    align-self: center;
  }

  .estilobotoncomenzar{
    width: 200px;
    height: 80px;
    color: #00897B !important;
    border-color: #00897B !important;
  }

  .contenedorBoton{
    padding-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botonEnviarMenus{
    width: 10em;
    height: 8em;
  }


.tarjetaAgendaespe{
  width: 25%;
  grid-template-columns: 43% 43%;
  cursor: pointer;
}

.tarjeta{
  align-content: center;
  margin:auto;
  display:grid;
  align-self: center;

}

.tarjetaTarea{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 40% 40%;

}

.tarjetaTarea2{
  grid-template-rows: 50% 50%;
  grid-row-gap: 5%;
}

.tarjetatarea2{
  display: grid;
  margin-bottom: 10%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.tareaprincipal{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.botonParaAtras{
  flex: 0.7;
  padding: 2em;
  cursor: pointer;
  text-align: center;
  background-color: #8dd1ca;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  white-space: inherit;
}

.botonesClase:hover {
  background-color: #E2E2E2;
}


.botonesPP:hover {
  background-color: #E2E2E2;
}

.botonesAlumnos:hover {
  background-color: #E2E2E2;
}

.atras {
  height: fit-content;
  width: 5em;
}

.pictogramasDireccionEntrega{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-left: 4em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-right: 4em;
  font-size: var(--tam-letra-grande);
  width: auto;
}
.pictogramasMaterialesEntregar{
  display: flex;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left:2em;
  margin-right:2em;
  justify-content: center;
  font-size: var(--tam-letra-grande);
  
}

#pictogramaEntregarEn, #fotoProfeEntregaMaterial{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0em;
  margin-top: 1em
}

#pictogramaEntregarEn{
  margin-left: 1em ;
  margin-right: 0;

}

#fotoProfesorEntregaMaterial{
  margin-right: 1em;
  margin-left: 0;
}


#pictogramaEntregarEn img,#fotoProfeEntregaMaterial img {

  flex-grow: 1;
  object-fit: contain;
}

#pictogramaEntregarEn p, #fotoProfeEntregaMaterial p{
  
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;
  font-weight: bold;
  
}

#cantidadMaterialEntregar, #fotoMaterialEntregar{

  margin-left: 1em;
  
  
}


#cantidadMaterialEntregar p, #fotoMaterialEntregar p{
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  
}

.botonesRecogidaMaterial{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  
}
.aceptarMaterial, .rechazarMaterial{
  width: 9em;
  height: 7em;
  margin-right: 4em !important;
  margin-left: 4em !important;
  cursor: pointer;
}
.aceptarMaterial img, .rechazarMaterial img{
  width: 100%;
  height: 100%;
}
.EnviarDatosRecogida{
  display: flex;
  justify-content: center;
}
.botonEnvairRecogida{
  width: 35em;
  height: 35em;
  margin-top: 4em;
  cursor: pointer;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  
}

.botonEnvairRecogida img{
  width: 100%;
  height: 100%;
}
.botonEnvairRecogida p{
  margin-top: 0.2em;
  font-size: 3.5em;
  font-weight: bold;
}

.imgPictoEntrega{
  object-fit: contain;
  width: var(--tam-icono-a);
  height: var(--tam-icono-a);
}
