body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.breadcrumbs {
  background-color: #90b4ce;
  padding-left: 1%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
}


.flechaAgenda {
  align-self: center;
  width: 100%;
  height: 98%;
}


