.checkbox{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 30px;
    padding: 0;
    width: 90%;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  
  .checkboxs{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    border: solid 1px black;
    padding-left: 20px;
    border-radius: 5px;
    background-color: white;
    /* border-width: 1px;
    border-color: rgb(255, 0, 0);
    border-style: solid; */
  }
  
  .Filtros{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    /* border-width: 1px;
    border-color: rgb(9, 255, 0);
    border-style: solid; */
    height: 30px;
  }
  
  
  .divfiltros{
    width: auto;
    background-color: #90b4ce; 
    border-color: black; 
    border-style: solid; 
    display: grid; 
    border-width: 2px; 
    font-size: 20px; 
    text-align: center; 
    padding: 6vw 0
    
  }
  
  .filtrotexto{
    width:90%;
    align-content: center;
    margin:auto;
    height: 80px;
    /* border-width: 1px;
    border-color: rgb(245, 139, 0);
    border-style: solid; */
  }

  .div-filtros-buscar{
    display: flex;
    flex-flow: column;
    gap: 12px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }

  .buscarlabel{
    display: inline-block;
    height: 120px;
    /* border-width: 1px;
    border-color: rgb(2, 6, 255);
    border-style: solid; */
    margin-bottom: 60px;
    width: 99%
  }
  

.botones{
    display:grid;
    text-align: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    padding: 2% 2%;
    /*margin-top: 50px;*/
    grid-column-gap: 10px;
    grid-auto-rows: 10vw;
    /*grid-auto-rows: 100%;*/
  }
  
  .boton{
    cursor: pointer;
    background-color: #3da9fc;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 18px;
    border-radius: 20px;
  }

  .boton:hover{
    background-color: #8e8eb5;
  }

  .ListaTareas{
    width: auto;
    min-width: max-content;
    background-color: #FFFFFF;
    border-color: black;
    border-style: solid;
    display: grid;
    border-width: 2px;
    font-size: 20px;
    text-align: center; 
  }




  
  .imgspantalla{
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    justify-content: center;
    display: grid;
    margin-right:auto;
    margin-left:auto;
    grid-template-columns: 35% 35%;
    grid-template-rows:20vw 20vw;
    grid-column-gap: 40px;
    grid-row-gap: 15px
  }


.imgpantalla{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
  }



.cuerpopantallatareas {
    width: auto;
    border-width: 3px;
    margin-bottom: 5px;
    padding: 3vw 0;
    justify-content: center;
    align-items: center
  }

  .botonesPT:hover {
    background-color: #E2E2E2;
  }

  .label-tareas {
    font-weight: bold;
  }
  
  .tarea {
    display: grid;
    gap: 10px;
    background-color: rgb(200, 206, 223);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 18px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3em;
  }
  


.botonesTareasReal {
    display: grid;
    text-align: center;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    grid-column-gap: 10px;
  
  }

.footer {
    background-color: black;
  color: white;
  text-align: center;
  width: 97%;

  height: auto;
  margin: 10px 0.5%;
  padding: 15px 15px;
  bottom: 0;
  border-color: black;
  border-style: solid;
  border-width: 1px;

}

.pantallasgestion{
        width:100%; 
        padding-top:15px; 
        padding-bottom:15px; 
        justify-content: center; 
        display: grid; 
        margin-right:auto; 
        margin-left:auto; 
        grid-template-columns: 30% 30%; 
        grid-template-rows:13vw 13vw 13vw; 
        grid-column-gap: 20px; 
        grid-row-gap: 15px
}

.formulario{
  margin-left: 5%;
}


.formregistro{
  width: 50%;
  background-color: #d0e9ff;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 5px;
  font-size: 2vw;
  /*textAlign:center; podriamos descomentar este y comentar el estilo del form*/
  padding: 3vw 0;
  border-radius: 15%
}



.registro{
  width:100%;
  height: auto;
  padding-top:15px;
  padding-bottom:15px;
  justify-content: center;
  display: flex;
  margin-right:auto;
  margin-left:auto;
}

.imgUserProfesores{ 
  position: absolute;
  cursor: pointer;
  width: 10%;
  height: auto;
  bottom: 40%;
  right: 2% 
};

.boton-enviar {
  background-color: lightgreen;
  width: 35%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

Header {
  text-align: center;
  border: none;
  font-size: 15px;

}




.flechaI img {
  width: 100%;
  height: auto;
  rotate: 180deg;

}

.flechaD img {
  width: 100%;
  height: auto;
}


.flechaI {
  position: absolute;
  width: 5em;
  left: 1em;
  top: 40%;
  transform: translateY(-50%);
}

.flechaD {
  position: absolute;
  width: 5em;
  right: 3em;
  top: 40%;
  transform: translateY(-50%);
}


.flechaAgenda {
  align-self: center;
  width: 100%;
  height: 98%;
}

/*CAMBIADO PARA QUE NO HAYA FILTROS EN LA GESTIÓN DE TAREAS*/
.PantallaGestionTareas {
  justify-content: center;
  width: auto;
  grid-template-columns: 95%;
  grid-column-gap: 20px;
  border-width: 2px;
  display: grid;
  margin-bottom: 2px;
  font-size: 4vw;
  text-align: center
}

.botonTareasReal {
  background-color: #b2dafa;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 18px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 15px;
}

header{
  display: flex;
  align-items: center;
  font-size: 20px;

  color: #0099D7;
  background-color: #E2E2E2;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.titulo {
  flex: 7;
  height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  padding-left: 160px;
  
}

.titulo_admins {
  flex: 15;
  height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  padding-left: 230px;
  
}

.titulo_inicio_admins {
  flex: 15;
  height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  padding-left: 0px;
  padding-right: 110px;
  
}

.titulo_inicio_alumnos {
  flex: 15;
  height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  padding-left: 0px;
  padding-right: 90px;
  
}

.titulo-principal {
  flex: 15;
  height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  padding-left: 50px;
  
}

.botoncerrarsesion{
  flex: 2;
  padding: 10px;
  margin: 10px;
  margin-right: 50px;
  height: 5%;
  width: 20%; 
  font-size: 50%;  
  color: black; 
  background-color: #E89482;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold
}

.posicion-circular {
  display: flex;
  justify-content: center;
}


.botonesGC {
  width: auto;
  cursor: pointer;
  background-color: #b2dafa;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  display: grid;
  margin-bottom: 5px;
  font-size: 3vw;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 3vw;
  border-radius: 25px;
  font-weight: bold;
}

.botonesGC:hover {
  background-color: #E2E2E2;
}

.color-alumno{
  color: #00897B !important;
}

.boton-paginacion {
  background-color: #00b09f !important;
}

.boton-paginacion:hover{
  background-color: #007165 !important;
}

.fuente-flecha{
  font-size: 80px !important;
}

/*Aún sin definir*/
.peticion{  
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.etiq {
  margin-right: 5%;
}

.cajaCantidad {
  background-color: #ffffff;
  width: 10%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.cajaMaterial {
  background-color: #ffffff;
  width: 12%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.materialesPedidos{
  justify-content: center;
  width: auto;
  grid-template-columns: 22% 76%;
  grid-column-gap: 20px;
  border-width: 2px;
  display: grid;
  margin-bottom: 2px;
  font-size: 4vw;
  text-align: center
} 

.boton-eliminar{
  background-color: rgb(255, 109, 109);
  width: 5%;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.boton-cancelar{
  background-color: #b2dafa;
  width: 10%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.boton-anadir{
  background-color: #b2dafa;
  width: 5%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;

  /*position: relative;
  top: 5px; bottom: 500px;*/
}

.boton-confirmar{
  background-color: #b2dafa;
  width: 10%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  /*position: relative;
  top: 40px; bottom: 5px;*/
}

.valores{
  background-color: "#f5f5f5";
  border-color: black;
  border-style: solid;
  width: 10%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  
}

.materialRecibido{
  justify-content: center;
  background-color: "#f5f5f5";
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  width: 10cm;
  padding-left: 1%;
  padding-right: 1%;
        
}

.negrita{
  font-weight: bold;
  margin-right: 5px;
}

/*AÑADIDO PARA QUE EL BOTÓN TENGA MARGEN*/
.Eliminar{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;

}

.recuadroRetro{
  width: 10cm;
}

.foto-perfil{
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0px 6px 17px 2px rgba(0,0,0,0.64);
  border-radius: 0.5rem;
  border: solid 2px black;
}

.div-foto-perfil{
  height: max-content;
}

#div-info-alumno{
  /*border: solid 2px black;*/
  padding: 3%;
  display: grid;
  grid-template-columns: 70% 20%;
  border: solid 2px black;
  justify-content: space-between;
}

#info-alumno-texto > div{
  word-break: break-all;
  border: solid 2px black;
  text-align: left;
  font-size: medium;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 17px 2px rgba(0, 0, 0, 0.167);
  padding-left: 1%;
  background-color: rgb(255, 251, 238);
}

#info-alumno-texto{
  border: solid 2px black;
  display: grid;
  gap: 10px;
  padding: 2%;
  border-radius: 0.5rem;
  background-color: #90b4ce;  
  box-shadow: 0px 6px 17px 2px rgba(0, 0, 0, 0.5);
}
.texto-falta-material{
  font-size: 1.5em;
  font-weight: bold;
  color: #ff0000;
}
.texto-falta-material h4{
  margin-left: 0.7em;
  float:left;
  width: 70%;
  margin-top: 0%;
}
icono-warning{
  float:right;
  margin:0%;
}

.strong{
  font-weight: bold;
}

.flex{
  display: flex;
  gap: 1%;
  align-items: center;
}